/*group add, work delete*/

body {
    background-color:#ffc0d0;
    background-size: cover;
    font-size: 15px; 
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    font-weight:bold;
}



.input {
   position: center;
    margin:1px 1px 1px 1px;
    width:100%
}

.input span {
    position: absolute;
    display: block;
    color: #f13f57;
    left: 20px;
    top: 12px;
    font-size: 18px;
}

.input input {
    width: 100%;
    padding: 13px 5px 13px 40px;
    display: block;
    border: 3px solid #EDEDED;
    border-radius: 8px;
    transition: 0.2s ease-out;
    color: #000;
    box-sizing: border-box;
    font-size: 14px;
    outline:none;
    letter-spacing: 1px;
}

.input input:focus {
    padding: 13px 5px 13px 40px;
    border-color:#f13f57;
   
}
 
.table {

  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  
  overflow-x: auto;

  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;
}
