@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,700|Roboto:300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Nanum+Gothic+Coding');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
img {
    max-width: 100%;
}

body {
  line-height: 24px;
   font-size: 14px; 
	font-weight: normal;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: 60%;
     font-family: 'PT Sans', sans-serif;
     overflow-x: hidden;
 background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold; 
}

.header_area{
}

button:focus {
  outline: none;
  box-shadow: 2px; 

}

@media (min-width: 1200px) {
    h3{
        font-size: 2rem;
    }
    .container {
    max-width: 1190px; }
}

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto; } 
}
   .white_bg {
    background: #fff !important; 
}

/*header*/
.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background 0.2s, all 0.1s linear; }
  .header_area .navbar {
    background: transparent;
    padding: 19px;
    border: 0px;
    border-radius: 0px; }
    .header_area .navbar .navbar-brand img +img {
      display: none; }
     .header_area .navbar .nav .nav-item {
      margin-right: 46px; 
   
} 
      .header_area .navbar .nav .nav-item .nav-link {
        font: 500 16px/60px "Heebo", sans-serif;
        text-transform: uppercase;
        color: #282828 ; /*글자색*/
        padding: 0px;
        display: inline-block; }
        .header_area .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header_area .navbar .nav .nav-item.submenu {
        position: relative; }
      .header_area .navbar .nav .nav-item.submenu ul {
        border: none;
        padding: 4px;
        border-radius: 0px;
        box-shadow: none;
        margin: 0px;
        background: #282828; 
        }
.header_area .navbar .nav .nav-item.submenu ul:hover{

}
@media (min-width: 992px) {
    h3{
        font-size: 2.6rem;
    }       
    .header_area .navbar .nav .nav-item.submenu ul {
              position: absolute;
              top: 120%;
              left: 0px;
              min-width: 200px;
              text-align: left;
              opacity: 0.4;
              transition: all 300ms ease-in;
              visibility: hidden;
              display: block;
              border: none;
              padding: 0px;
              border-radius: 0px;
              box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.6); 
          
    } 
            
         }
         .header_area .navbar .nav .nav-item.submenu ul .nav-item {
            display: block;
            float: none;
            margin-right: 0px;
            border-bottom: 0px solid #c8c8c8;
            margin-left: -1px;
            transition: all 0.4s linear;
 }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
            line-height: 38px;
            color: #C0BEC2;
            padding: 1px 30px;
            transition: all 12ms linear;
            display: block;
            margin-right:px; 

}
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
              border-bottom: none; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
             background:#8ec5fc;
              color: #fff; }
                
        @media (min-width: 992px) {
          .header_area .navbar .nav .nav-item.submenu:hover ul {
            visibility: visible;
            opacity: 1;
            top: 100%; } 
        }
        .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
          margin-top: 0px; }
      .header_area .navbar .nav .nav-item:last-child 
        {
        margin-right: 0px; 
        }

  

@media (max-width:1619px){
    .header_area .navbar .search {
		margin-left: 30px;
	}

}
@media (max-width:1300px){
    
}
@media (max-width:1199px){

	.home_banner_area .banner_inner {
		padding: 100px 0px;
	}
	.home_banner_area .banner_inner .banner_content h2 br {
		display: none;
		font-size: 80px;
	}
	.home_banner_area .banner_inner .banner_content h2 {
		font-size: 36px;
		line-height: 45px;
	}
}

@media (max-width:991px){
	.top_menu{
		display: none;
	}
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 30px;
    
    }
  
	.header_area .navbar {
		background: #282828;
	}

    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}
	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 10px;
	}
	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 17px;
		position: relative;
	}
	.navbar-toggler span{
		display: block;
		width: 43px;
		height: 3px;
		background: #FFA300;
		margin: auto;
		margin-bottom: 10px;
		transition: all 400ms linear;
		cursor: pointer;
	}
    .navbar .container{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 17px;
    }
    .nav{
        padding: 1px 0px;
    }
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 11px;
	}
    .header_top .nav{
        padding: 0px;
    }
    .header_area .navbar .nav .nav-item .nav-link{
        line-height: 30px;
        margin-right: 0px;
        display: block;
		border-bottom: 0px solid #fff;
		border-radius: 0px;
    }
    .header_area .navbar .search{
        margin-left: 0px;
    }
    
	.header_area .navbar-collapse{
        /* 화면 크기 줄였을때 메뉴바 길이*/
		max-height: 450px;
		overflow-y: scroll, none;
	}
    
	.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
		padding: 0px 40px;
	}
	.header_area .navbar .nav .nav-item {
		margin-right: 0px;
	}
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 71px;
      
	}
	.home_banner_area .banner_inner .banner_content .banner_map_img {
		display: none;
	}
	.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
		line-height: 4px;
	}
	.header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
		line-height: 40px;
	}
	.header_area .navbar .nav .nav-item .nav-link {
		color: #fff;
	}
    
}

 .input {
    position: relative;
    margin: 30px auto;
    width:100%
}
 .input input {
    width: 400px;
    padding: 14px 9px 13px 48px;
    display: block;
    border: 1px solid #ffff;
    border-radius: 10px;
    transition: 0.5s ease-out;
    color: #000;
    box-sizing: border-box;
    font-size: 14px;
    outline:none;
 
}
 
form.cleanForm {
    width:700px;
    margin:0 auto;
}

form.cleanForm p {
    margin-bottom:15px;
}

input[type="password"] {
	 
    align-items: center;
	position: relative ;
   font-family: 'PT Sans', sans-serif;
    margin-bottom:20px; 	
    font-size: 18px;
    color: #8b00ff;
    padding: 10px;
    outline:none;   
    float:center;
    border: solid 1px #8b00ff;
    width:290px;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow:inset 0 0 5px 5px #8b00ff;
    -webkit-box-shadow:inset 0 0 5px 5px #8b00ff;
    box-shadow:inset 0 0 5px 5px #E6E6E6;
    clear: right;
}

 input[type="password"]:focus, input[type="password"]:hover {
    border:1px solid #8b00ff;   
} 
form.cleanForm em {
    font-size:12px;
}
  	

@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.passwordbtn {
  position: relative ;
  background-color: #8E6BFF;
  border: none;
  color: #ffffff;
  cursor: pointer;
   float:center;
  display: inline-block;
 font: 500 16px/60px "Heebo", sans-serif;
  font-size: 1em;
  font-size: 19px;
  line-height: 1em;
  margin: 10px 20px;
  margin-left:-54%;
  outline: none;
  padding: 12px 30px 10px;

  text-transform: uppercase;
  font-weight: 400;
}
.passwordbtn:before,
.passwordbtn:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.passwordbtn:before {
  border-color: #AD91E2;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.passwordbtn:after {
  border-bottom-width: 2px;
  border-color: #AD91E2;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.passwordbtn:hover,
.passwordbtn.hover {
  background-color: #8356D5;
}
.passwordbtn:hover:before,
.passwordbtn.hover:before,
.passwordbtn:hover:after,
.passwordbtn.hover:after {
  height: 100%;
  width: 100%;
} 
@media(max-width:990 px) {
    .mypage {
       font-size:6rem;
    }
}
.mypage{
	margin-bottom:40px;
}



/*회원가입*/
html,
body,
div,
span
 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
 
 
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}
 
 
.clear {
    clear: both;
}

 
 
/*end reset*/

body {
	/*배경색 바꾸는거*/
	background-color: #fff;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: 100%;
     overflow-y: hidden; overflow-x: hidden;
}

/*-- title --*/

h3 {

    margin: 7px 7px  20px 2px;  
    font-size: 2rem;
    color: #424242;
    letter-spacing: 4px;
    text-align: center;
 
  font-family: 'PT Sans', sans-serif;
}
h2 {
	 margin: 7px 7px  20px 2px;  
    font-size: 20px;
    color: #424242;
    letter-spacing: 4px;
    text-align: center;
  font-family: 'PT Sans', sans-serif;
}
h1 span {
    color:#f13f57;
    border-bottom: 3px;
}

/*-- //title --*/

.cleanForm{
	border-color:#424242;
	border-radious:40px;
}
/*-- content --*/
.sub-main-w3 {
    margin: 4vw 5vw;
}
.sub-main-w3 form {
    max-width: 500px;
    margin: 0 auto;

 padding: 3.5vw;
    box-sizing: border-box;
 
    position: relative;
    /* display: table; */
}

p.legend {
    color: #6610f2;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
    font-style: italic;
    margin-bottom: 1.2em;
}

 
.input {
    position: relative;
    margin: 20px auto;
    width:100%
}

.input span {
    position: absolute;
    display: block;
    color: #6610f2;
    left: 10px;
    top: 12px;
    font-size: 18px;
}

.input input {
    width: 300px;
    heigh:30px;
    padding: 13px 5px 13px 40px;
    display: block;

    border-radius: 4px;
    transition: 0.2s ease-out;
    box-sizing: border-box;
    font-size: 14px;
    outline:none;
    letter-spacing: 6px;
}

.input input:focus {
    padding: 13px 5px 13px 10px;
    border-color:#6610f2;
   
}

.passwordbtn {
  
    display: block;
    margin: 8px 170px;
   
}

 
.feedback {
    position: absolute;
    bottom: -70px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #2ecc71;
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
    display: none;
    opacity: 0;
    left:0
}

.feedback:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(46, 204, 113, 0);
    border-bottom-color: #2ecc71;
    border-width: 10px;
    margin-left: -10px;
}

/*-- copyright --*/

.footer {
    margin: 8vw .3vw 2vw;
}

.footer h2 {
    font-size: 15px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.8;
}

.footer h2 a {
    color: #f13f57;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.footer h2 a:hover {
    color: #fff;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/*-- //copyright --*/

/*-- responsive --*/

/*--responsive--*/

@media(max-width:1920px) {
    h3 {
        font-size: 3vw;
    }
}

@media(max-width:1024px) {
    h3 {
        font-size: 3vw;
    }
}

@media(max-width:900px) {
    .w3ls-social {
        left: 6%;
    }
}

@media(max-width:800px) {
    h3 {
        font-size: 2.6em;
    }
    .sub-main-w3 {
        float: none;
    }
    .w3ls-social {
        position: static;
        margin-top: 5em;
    }
    .w3ls-social h2 {
        left: 241px;
    }
}

@media(max-width:667px) {
    .w3ls-social h2 {
        left: 182px;
    }
}

@media(max-width:600px) {
    .w3ls-social h2 {
        left: 151px;
    }
    .footer h2 {
        letter-spacing: 1px;
    }
}

@media(max-width:480px) {
    h3 {
        font-size: 2.3em;
    }
    .sub-main-w3 form {
        padding: 7.5vw;
    }
    .footer h2 {
        letter-spacing: 1px;
    }
    .w3ls-social h2 {
        left: 91px;
    }
}

@media(max-width:414px) {
    .form-style-agile input[type="text"],
    .form-style-agile input[type="password"] {
        font-size: 13px;
        padding: 13px 15px;
    }
    .wthree-text ul li:nth-child(1),
    .wthree-text ul li:nth-child(2) {
        float: none;
    }
    .wthree-text ul li:nth-child(2) {
        margin-top: 10px;
    }
    .w3ls-social h2 {
        left: 52px;
    }
    .form-style-agile {
        margin-bottom: 1em;
    }
}

@media(max-width:320px) {
    h3 {
        font-size: 1.8em;
    }
    .sub-main-w3 form {
        padding: 25px 14px;
    }
    .w3ls-social h2 {
        left: 10px;
    }
}

/*--//responsive--*/