 @import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,700|Roboto:300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Nanum+Gothic+Coding');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
  
/*icon ba*/
 
 html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
img {
    max-width: 100%;
}

body {
  line-height: 24px;
   font-size: 14px; 
	font-weight: normal;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: 80%;
   font-family: 'Fira Sans', sans-serif;
     overflow-x: hidden;
 
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold; 
}

.header_area{
 background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

button:focus {
  outline: none;
  box-shadow: 2px; 

}

@media (min-width: 1200px) {
    h3{
        font-size: 2rem;
    }
    .container {
    max-width: 1190px; }
}

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto; } 
}
   .white_bg {
    background: #fff !important; 
}

/*header*/
.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background 0.2s, all 0.1s linear; }
  .header_area .navbar {
    background: transparent;
    padding: 19px;
    border: 0px;
    border-radius: 0px; }
    .header_area .navbar .navbar-brand img +img {
      display: none; }
     .header_area .navbar .nav .nav-item {
      margin-right: 46px; 
   
} 
      .header_area .navbar .nav .nav-item .nav-link {
        font: 500 16px/60px "Heebo", sans-serif;
        text-transform: uppercase;
        color: #282828 ; /*글자색*/
        padding: 0px;
        display: inline-block; }
        .header_area .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header_area .navbar .nav .nav-item.submenu {
        position: relative; }
      .header_area .navbar .nav .nav-item.submenu ul {
        border: none;
        padding: 4px;
        border-radius: 0px;
        box-shadow: none;
        margin: 0px;
        background: #282828; 
        }
.header_area .navbar .nav .nav-item.submenu ul:hover{

}
@media (min-width: 992px) {
    h3{
        font-size: 2.6rem;
    }       
    .header_area .navbar .nav .nav-item.submenu ul {
              position: absolute;
              top: 120%;
              left: 0px;
              min-width: 200px;
              text-align: left;
              opacity: 0.4;
              transition: all 300ms ease-in;
              visibility: hidden;
              display: block;
              border: none;
              padding: 0px;
              border-radius: 0px;
              box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.6); 
          
    } 
            
         }
         .header_area .navbar .nav .nav-item.submenu ul .nav-item {
            display: block;
            float: none;
            margin-right: 0px;
            border-bottom: 0px solid #c8c8c8;
            margin-left: -1px;
            transition: all 0.4s linear;
 }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
            line-height: 38px;
            color: #C0BEC2;
            padding: 1px 30px;
            transition: all 12ms linear;
            display: block;
            margin-right:px; 

}
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
              border-bottom: none; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
             background:#8ec5fc;
              color: #fff; }
                
        @media (min-width: 992px ) {
          .header_area .navbar .nav .nav-item.submenu:hover ul {
            visibility: visible;
            opacity: 1;
            top: 100%; } 
        }
        .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
          margin-top: 0px; }
      .header_area .navbar .nav .nav-item:last-child 
        {
        margin-right: 0px; 
        }

  

@media (max-width:1619px){
    .header_area .navbar .search {
		margin-left: 30px;
	}

}
@media (max-width:1300px){
    
}
@media (max-width:1199px){

	.home_banner_area .banner_inner {
		padding: 100px 0px;
	}
	.home_banner_area .banner_inner .banner_content h2 br {
		display: none;
		font-size: 80px;
	}
	.home_banner_area .banner_inner .banner_content h2 {
		font-size: 36px;
		line-height: 45px;
	}
}

@media (max-width:991px){
	.top_menu{
		display: none;
	}
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 30px;
    
    }
  
	.header_area .navbar {
		background: #282828;
	}

    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}
	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 10px;
	}
	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 17px;
		position: relative;
	}
	.navbar-toggler span{
		display: block;
		width: 43px;
		height: 3px;
		background: #FFA300;
		margin: auto;
		margin-bottom: 10px;
		transition: all 400ms linear;
		cursor: pointer;
	}
    .navbar .container{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 17px;
    }
    .nav{
        padding: 1px 0px;
    }
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 11px;
	}
    .header_top .nav{
        padding: 0px;
    }
    .header_area .navbar .nav .nav-item .nav-link{
        line-height: 30px;
        margin-right: 0px;
        display: block;
		border-bottom: 0px solid #fff;
		border-radius: 0px;
    }
    .header_area .navbar .search{
        margin-left: 0px;
    }
    
	.header_area .navbar-collapse{
        /* 화면 크기 줄였을때 메뉴바 길이*/
		max-height: 450px;
		overflow-y: scroll, none;
	}
    
	.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
		padding: 0px 40px;
	}
	.header_area .navbar .nav .nav-item {
		margin-right: 0px;
	}
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 71px;
      
	}
	.home_banner_area .banner_inner .banner_content .banner_map_img {
		display: none;
	}
	.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
		line-height: 4px;
	}
	.header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
		line-height: 40px;
	}
	.header_area .navbar .nav .nav-item .nav-link {
		color: #fff;
	}
    
}
/*menu bar 끝*/ 
/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*메모와 메뉴바 간격*/
#wrapper.toggled {
  padding-right: 200px;
    
}
/*사이드바*/
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 290px;
  width: 0;
  height: 370px;
  margin-right: -250px;
/*사이드바 길이*/
  margin-top: 0px;
 overflow-x: hidden;
  overflow-y: hidden;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
 
}

#wrapper.toggled #sidebar-wrapper {
  width: 0px;
}
/*안에 내용*/
#page-content-wrapper {
  width: 100%;
  position: relative;
  margin-top: 150px;

}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
    /*아이콘 중앙으로*/
  text-indent: 50px;
  line-height: 30px;
}
/*사이드바 선*/
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #4D00FF;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-right: 260px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 170px;
   padding-top:169px;    }
  #page-content-wrapper {
    padding: 10px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

} 
@media(max-width:800px) and (min-width:615px ){
       #page-content-wrapper {
              margin-top: 176px;

} 
}
.sample{
   width: 100%;
   margin: 0 0 2.5rem 0;
    display: inline-flex; 
  /*   display:화면 배치방법 결정  */
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   /*  flex: 표준  */
   -moz-flex-wrap: wrap;
 /*   flex-warp:플렉스 항목을 한 줄 또는 여러줄로 배치하기, 
   warp: 플렉스 항목을 여러 줄로 표시한다.  */
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -moz-align-items: stretch; 
   /* align-items:교차축 기준의 배치 방법 지정
     stretch: 플렉스 항목을 확장해 교차축을 꽉 채운다
    */
    -webkit-align-items: stretch;
   -ms-align-items: stretch;
   align-items: stretch; 

}

.new-btn {
position:relative;
width:150px;
height:60px;
border:0;
margin :25px;
 margin-bottom :25px;
 
cursor: pointer;
background-color:#6BBBFF;
border-radius:10px;
font-size:21px;
color:#ffff;
 
}
.new-btn:hover {
	background-color:#6BBBFF;
}
  .groupname{
	text-align:center;
	margin-left:-10px;
 	color:#222831;
}  
.groupname1{
	padding-top:30px;
	color:#a275e3;
}
@media(max-width:1620px) {
    h3 {
        font-size: 3vw;
    }
 
}
@media(max-width:1920px) {
    h3 {
        font-size: 3vw;
    }
}

@media(max-width:1024px) {
   h3 {
        font-size: 3vw;
    }
}

@media(max-width:800px) {
    h3 {
        font-size:2.4em;
    }
     
}
@media(max-width:480px) {
    h3 {
 font-size: 2.4em;
}  
 

  
}
 
@media(max-width:414px) {
	h3{
 font-size: 2.2em;
}
}
.title1 {
	font-size: 2em;
}


.input {
    position: relative;
    margin: 6px auto;
    width:70%
}

.input span {
    position: absolute;
    display: block;
   color: #f13f57; 
    left: 10px;
    top: 26px;
    font-size: 18px;
}

.input input {
    width: 100%;
    padding: 13px 5px 13px 40px;
    display: block;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    transition: 0.2s ease-out;
    color: #000;
    box-sizing: border-box;
    font-size: 14px;
    outline:none;
    letter-spacing: 1px;
}

.input input:focus {
    padding: 13px 5px 13px 10px;
/*     border-color:#f13f57;
   */ 
}
.result{
	position:absolute;
 	margin-top:40px;
	text-align : center;
	font-size: 26px;
	font-family: 'Gothic+A1', sans-serif;
	padding-left:100px;
}
.id {
	position:absolute;
	margin-top:111px;
	text-align : center;
	font-size: 26px;
	font-family: 'Gothic+A1', sans-serif;
	padding-left:100px;
}
.btn-dark{
	position:absolute;
	margin-top:100px;
	text-align : center;
	font-family: 'Gothic+A1', sans-serif;
	padding:6px;
	margin-left:-90px;
	margin-right:100px;
}
td {
	border-bottom:1px;
}
. btn-primary{
	margin-bottom: 20px;
}
